# {name}

- Category: `{category}`

- License: `{license}`

- Source: ...

```python
from cmap import Colormap

cm = Colormap({name!r})  # case insensitive
```

{{ cmap: {name} 40 }}
{{ cmap_gray: {name} 40 }}
{{ cmap_sineramp: {name} }}

### Perceptual Lightness

<p style="text-align: center;">
<em style="font-size: small; color: gray;">
L* measured in
<a href="https://onlinelibrary.wiley.com/doi/10.1002/col.20227">CAM02 Uniform Color Space (CAM02-UCS)</a>
</em>
</p>

{{ cmap_linearity: {name} }}

### RGB components

{{ cmap_rgb: {name} }}